<aside>
  <div>
    <div>
      <img class="profileImage" src="static/images/marco.jpg">
      <div>
        <p class="profileName">Marco</p>
        <p class="onlineStatus">Online</p>
      </div>
    </div>
    <ul>
      <li><a href="/edit">Profiel bewerken</a></li>
      <li><a href="#">Mijn interesses en hobby's</a></li>
      <li><a href="#">PREMIUM+</a></li>
    </ul>
  </div>
  <div>
    <h2>Chatten</h2>
    <ul>
      <li>chat1</li>
      <li>chat2</li>
      <li>chat3</li>
    </ul>
  </div>
</aside>
