<header>
  <a href="/"><img src="static/images/logo.svg"></a>
  <nav>
    <ul>
      <li><a href="#"><img src="static/images/friendsIcon.svg">Zoek profielen</a></li>
      <li><a href="#"><img src="static/images/matchingGameIcon.svg">Matching Game</a></li>
      <li><a href="#"><img src="static/images/matchesIcon.svg">Matches</a></li>
      <li><a href="#"><img src="static/images/messagesIcon.svg">Berichten</a></li>
    </ul>
  </nav>
</header>
