<!-- INCLUDE HEAD -->
<%- include('components/head.ejs') -%>
<body>
  <!-- INCLUDE HEADER -->
  <%- include('components/header.ejs') -%>

  <!-- INCLUDE ASIDE -->
  <%- include('components/aside.ejs') -%>
  <main>
    <h1>Profiel aanpassen</h1>
    <section>
      <h2>Wie ben jij?</h2>
      <form action=/ method=post>
        <label>Naam <input name=name></label>
        <label>Leeftijd <input name=age></label>
        <label>Interesse <input name=interests></label>
        <label>Locatie <input name=location></label>
        <button>Update profiel</button>
      </form>
    </section>
  </main>
</body>
