<!-- INCLUDE HEAD -->
<%- include('components/head.ejs') -%>
<body>
  <!-- INCLUDE HEADER -->
  <%- include('components/header.ejs') -%>

  <!-- INCLUDE ASIDE -->
  <%- include('components/aside.ejs') -%>
  <main>
    <article>
      <h1>Profiel aanpassen van</h1>
      <h2>Wie ben jij?</h2>
      <form action="/edit" method="POST" class="updateProfileForm">
        <label for="name">Naam</label>
        <input type="text" name=name id="name" required>

        <label for="age">Leeftijd</label>
        <input type="number" name=age id="age" required>

        <p>Gender</p>
        <input type="radio" id="male" name="gender" value="m">
        <label class='genderLabel' for="male">Man</label>
        <input type="radio" id="female" name="gender" value="v">
        <label class='genderLabel' for="female">Female</label>
        <input type="radio" id="other" name="gender" value="a" checked="checked">
        <label class='genderLabel' for="other">Anders</label>

        <!-- <label for="gender">Gender</label>
        <input type="text" name=gender id="gender"> -->

        <label for="location">Locatie</label>
        <input type="text" name=location id="location" required>

        <label for="about">Over mezelf</label>
        <textarea name="about" id="about" required></textarea>

        <input class="CTA-Button" type="submit" value="Update profiel" required>
        <!-- <button class="CTA-Button">Update profiel</button> -->
      </form>
    </article>
  </main>
</body>
