<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/style/style.css">
  <title>Geed Matching: De datingsite voor geeks!</title>
</head>
<body>
  <header>
    <a href="/"><img src="static/images/logo.svg"></a>
    <nav>
      <ul>
        <li><a href="#"><img src="static/images/friendsIcon.svg">Zoek profielen</a></li>
        <li><a href="#"><img src="static/images/matchingGameIcon.svg">Matching Game</a></li>
        <li><a href="#"><img src="static/images/matchesIcon.svg">Matches</a></li>
        <li><a href="#"><img src="static/images/messagesIcon.svg">Berichten</a></li>
      </ul>
    </nav>
  </header>
  <aside>
    <div>
      <div>
        <img class="profileImage" src="static/images/marco.jpg">
        <div>
          <p class="profileName">Marco</p>
          <p class="onlineStatus">Online</p>
        </div>
      </div>
      <ul>
        <li><a href="/edit">Profiel bewerken</a></li>
        <li><a href="#">Mijn interesses en hobby's</a></li>
        <li><a href="#">PREMIUM+</a></li>
      </ul>
    </div>
    <div>
      <h2>Chatten</h2>
      <ul>
        <li>chat1</li>
        <li>chat2</li>
        <li>chat3</li>
      </ul>
    </div>
  </aside>
  <main>
    <h1>Profiel aanpassen</h1>
    <section>
      <h2>Wie ben jij?</h2>
      <form action=/ method=post>
        <label>Naam <input name=name></label>
        <label>Leeftijd <input name=age></label>
        <label>Interesse <input name=interests></label>
        <label>Locatie <input name=location></label>
        <button>Update profiel</button>
      </form>
    </section>
  </main>
</body>
