<!-- INCLUDE HEAD -->
<%- include('components/head.ejs') -%>

<body id="homepage">
  <!-- INCLUDE HEADER -->
  <%- include('components/header.ejs') -%>

  <!-- INCLUDE ASIDE -->
  <%- include('components/aside.ejs') -%>
  <main>
    <!-- sidebar -->
    <!-- content -->
      <section>
        <h1>Mede Nintendo fans</h1>
        <ul>
          <li><a href="/profile"><img src="static/images/profileImage.svg"></a></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
        </ul>
      </section>
      <section>
        <h1>Mede One Punch Man fans</h1>
        <ul>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
        </ul>
      </section>
      <section>
        <h1>Mede Harry Potter fans</h1>
        <ul>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
        </ul>
      </section>
      <!-- INCLUDE ASIDE -->
      <%- include('components/footer.ejs') -%>
  </main>
</body>
</html>
