<%- include('components/head.ejs') -%>

<body>
  <% for (var i = 0; i < profiles.length; i++) { %>
    <h2><%= profiles[i].name %>, <%= profiles[i].age %></h2>
    <p><%= profiles[i].location %></p>
    <% } %>
</body>
