<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/style/style.css">
  <title>Geed Matching: De datingsite voor geeks!</title>
</head>

<body>
  <% for (var i = 0; i < profiles.length; i++) { %>
    <h2><%= profiles[i].name %>, <%= profiles[i].age %></h2>
    <p><%= profiles[i].location %></p>
    <% } %>
</body>
