<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/style/style.css">
  <title>Geed Matching: De datingsite voor geeks!</title>
</head>

<body id="homepage">
  <header>
    <a href="index.html"><img src="static/images/logo.svg"></a>
    <nav>
      <ul>
        <li><a href="#"><img src="static/images/friendsIcon.svg">Zoek profielen</a></li>
        <li><a href="#"><img src="static/images/matchingGameIcon.svg">Matching Game</a></li>
        <li><a href="#"><img src="static/images/matchesIcon.svg">Matches</a></li>
        <li><a href="#"><img src="static/images/messagesIcon.svg">Berichten</a></li>
        <li><a href="#"><img src="static/images/messagesIcon.svg">Does it work?</a></li>
      </ul>
    </nav>
  </header>
  <aside>
    <div>
      <div>
        <img class="profileImage" src="static/images/marco.jpg">
        <div>
          <p class="profileName"> <%= profiles[0].name %></p>
          <!-- <p class="profileName">Marco</p> -->
          <p class="onlineStatus">Online</p>
        </div>
      </div>
      <ul>
        <li><a href="/edit">Profiel bewerken</a></li>
        <li><a href="#">Mijn interesses en hobby's</a></li>
        <li><a href="#">PREMIUM+</a></li>
      </ul>
    </div>
    <div>
      <h2>Chatten</h2>
      <ul>
        <li>chat1</li>
        <li>chat2</li>
        <li>chat3</li>
      </ul>
    </div>
  </aside>
  <main>
    <!-- sidebar -->
    <!-- content -->
      <section>
        <h1>Mede Nintendo fans</h1>
        <ul>
          <li><a href="/profile"><img src="static/images/profileImage.svg"></a></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
        </ul>
      </section>
      <section>
        <h1>Mede One Punch Man fans</h1>
        <ul>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
        </ul>
      </section>
      <section>
        <h1>Mede Harry Potter fans</h1>
        <ul>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
          <li><img src="static/images/profileImage.svg"></li>
        </ul>
      </section>
  </main>
  <footer>

  </footer>
</body>
</html> -->
